<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form action="/signup" method="POST">
        Email : <input type="text" name="email"> <br><br>
        Username : <input type="text" name="username"> <br> <br>
        Password : <input type="password" name="password"> <br> <br>
        Confirm Password : <input type="password" name="cpassword"> <br> <br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>